<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon> </ion-button>
      </ion-buttons>
      <ion-title>Image Recognition</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-content>
      <div class="col-md-4" style="text-align: center;">
        <ion-button (click)="addImage()" class="btn btn-primary"
          >1. Add training image
        </ion-button>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <input placeholder="And give label to image" type="text" [(ngModel)]="newLabel" />
      </div>
    </ion-card-content>
    <ion-card-content *ngIf="showTrainButton">
      <div class="col-md-4" style="text-align: center;">
        <ion-button (click)="train()" class="btn btn-danger">
          2. Train Model
        </ion-button>
        <p *ngIf="iteration">Iteration: {{iteration}}</p>
        <p *ngIf="loss">Loss: {{loss}}</p>
      </div>
      <div class="col-md-4" *ngIf="iteration">
        <progress-bar
          [progress]="iteration"
          [color-degraded]="{'0': '#00cb49',  '15': '#f9c3d3', '25': '#fd8c8e'}"
        ></progress-bar>
      </div>
    </ion-card-content>
    <ion-card-content *ngIf="showPredictButton" style="text-align: center;">
      <ion-button (click)="predict()" class="btn btn-primary">
        3. Predict
      </ion-button>
      <div class="panel panel-default" *ngIf="results" style="text-align: center;">
        <p>Results: {{results}}</p>
        <div class="panel-heading"  style="text-align: center;">
          <h3>
            Prediction: {{label}} with probability {{confidence * 100 | number
            :'0.1'}} %
          </h3>
        </div>
      </div>
    </ion-card-content>
    <div class="panel-body" style="text-align: center;">
      <video
        #video
        id="video"
        width="320"
        height="240"
        autoplay
        class="img-thumbnail"
      ></video>
      <canvas
        #canvas
        id="canvas"
        width="320"
        height="240"
        class="img-thumbnail"
      ></canvas>
    </div>
  </ion-card>
</ion-content>
