<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Demos</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let demo of demos">
          <ion-card class="demo-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" routerLink="/{{demo.url}}">
                <ion-avatar slot="start">
                  <img [src]="demo.picture" alt="Speaker profile pic">
                </ion-avatar>
                  <b>{{demo.name}}</b>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <!-- <ion-item *ngFor="let detail of demo.details" routerLink="/app/tabs/speakers/session/{{session.id}}"> -->
                <ion-item routerLink="/{{demo.url}}">
                  <!-- <h3>{{detail}}</h3> -->
                  <h3>{{demo.detail}}</h3>
                </ion-item>

                <ion-item routerLink="/{{demo.url}}">
                  <h3>Tutorial for {{demo.name}}</h3>
                </ion-item>
              </ion-list>
            </ion-card-content>

            <ion-row class="ion-no-padding ion-justify-content-center">
              <!-- <ion-col size="4" class="ion-text-left">
                <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  Tweet
                </ion-button>
              </ion-col> -->
              <ion-col size="4" class="ion-text-center">
                <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                  <ion-icon name="share-alt" slot="start"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
              <ion-col size="4" lass="ion-text-right">
                <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                  <ion-icon name="heart-empty" slot="start"></ion-icon>
                  Favourite
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
  
